#todo-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  #todoCard {
    gap: 15px;
    width: 35%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1000px) {
      width: 100%;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    h2 {
      margin: 0px;
    }
  }
}

#slider-label {
  font-weight: 500;
}