#todo-container {
  width: 950px;
  margin: auto;
  display: flex;
  flex-direction:row;
  gap: 30px;
  #todoCard{
    gap: 15px;
    width: 35%;
    height: max-content;
  form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  h2 {
    margin:0px;
  }
}
}

#slider-label{
  font-weight: 500;
}