#nav {
  background-color: rgb(46, 123, 238);
  color: white;
  height: 100px;
  display: flex;
  align-items: center;  
  p{
    margin-top: 0px;
    margin-left: 50px;
    font-size: 20px;
    margin-bottom: 0px;
  }
}