#nav {
  background-color: rgb(46, 123, 238);
  color: white;
  height: 100px;
  display: flex;
  #group{
    width: 100%;
    a{
      margin-top: 0px;
      margin-left: 50px;
      font-size: 20px;
      margin-bottom: 0px;
      text-decoration: none;
      color: white;
    }

  }
}

#login-form{
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

#logout {
  margin-right: 50px;
}